/*Tag Styling*/

body {
    margin: auto;
    text-align: center;
    padding: 50px;
    background-image: url("..//images/starwars_background.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;

}

button {
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

h1 {
    padding: 10px;
    margin-bottom: 25px;
}

h5 {
    padding: 20px;
    margin: 20px;
    font-size: 24px;
}

/*Class Styling*/

.char_img {
    display: block;
    width: 80%;
    margin: auto;
    padding: auto;
}

/*Psuedo  Styling*/

button:focus {
    outline: none;
}

/*ID Styling*/

#yoda_img {
    margin: 25% auto 37%;
}

#obi_img {
    margin: 20% auto 19%;
}

#kylo_img {
    margin: 45% auto 41.5%;
}

#vader_img {
    margin: 15% auto 15.5%;
}

/*Character Styling - Each Card is given a glow using a colored box shadow! */

#yoda {
    border: 2px solid forestgreen;
    box-shadow: 0px 0px 60px forestgreen;
    
}

#rey {
    border: 2px solid darkblue;
    box-shadow: 0px 0px 60px blue;
}

#obi_wan {
    border: 2px solid purple;
    box-shadow: 0px 0px 60px purple;
}

#kylo_ren {
    border: 2px solid crimson;
    box-shadow: 0px 0px 60px crimson;
}

#darth_vader {
    border: 2px solid darkred;
    box-shadow: 0px 0px 60px darkred;
}

#winText {
    font-size: 24px;
    padding: 20px;
}

/* Button ID Styling */

.fight {
    width: 150px;
    height: 75px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    background-image: url("../images/country-quilt-dark.png");
    background-size: 100%;
    border: 4px solid rgb(100,100,100);
    border-style: outset;
    border-radius: 2px;
    box-shadow: 0px 0px 60px rgb(100,100,100);
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

/* card animations */

@keyframes heroHover {
    100% {box-shadow: 0px 0px 180px 60px goldenrod; border: 2px solid goldenrod;}
}

.hero:hover {
    animation-name: heroHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes villainHover {
    100% {box-shadow: 0px 0px 180px 60px darkred; border: 2px solid darkred;}
}

.villain:hover {
    animation-name: villainHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@media screen and (min-width: 300px) and (max-width: 768px) {

    body {
        padding: 20px 0px;
    }
    button {
        height: 100px;
        width: 100px;
        padding-bottom: 175px;
    }

    button.fight {
        height: 50px;
        width: 100px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    h5 {
        padding: 10px 0px;
        margin: 10px 0px;
        font-size: 16px;
    }

    p.gameText {
        padding: 5px 0px;
        margin: 5px 0px;
        font-size: 12px;
    }
    
    img#obi_img {
        margin: 5% auto 5%;
    }

    p#winText {
        font-size: 16px;
        padding: 2px;
    }

}






