body {
    margin: auto;
    text-align: center;
    padding: 50px;
    background-image: url("..//images/starwars_background.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;

}

h1 {
    padding: 10px;
    margin-bottom: 25px;
}

.char_img {
    display: block;
    width: 80%;
    margin: auto;
    padding: auto;
}

#yoda_img {
    margin: 25% auto 37%;
}

#obi_img {
    margin: 20% auto 19%;
}

#kylo_img {
    margin: 45% auto 41.5%;
}

#vader_img {
    margin: 15% auto 15.5%;
}

#yoda {
    border: 2px solid forestgreen;
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    box-shadow: 0px 0px 60px forestgreen;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

#rey {
    border: 2px solid darkblue;
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    box-shadow: 0px 0px 60px blue;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

#obi_wan {
    border: 2px solid purple;
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    box-shadow: 0px 0px 60px purple;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

#kylo_ren {
    border: 2px solid crimson;
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    box-shadow: 0px 0px 60px crimson;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

#darth_vader {
    border: 2px solid darkred;
    height: 200px;
    width: 200px;
    padding-bottom: 310px;
    margin: 0px 5px 10px;
    box-shadow: 0px 0px 60px darkred;
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

#charTitle1 {
    padding: 20px;
    margin-bottom: 20px;
}

#charTitle2 {
    opacity: 0;
    padding: 20px;
    margin: 20px;
}

#charTitle3 {
    opacity: 0;
    padding: 20px;
    margin: 20px;
}

#charTitle4 {
    opacity: 0;
    padding: 20px;
    margin: 20px;
}

#charTitle5 {
    opacity: 0;
    padding: 20px;
    margin: 20px;
}


#your-character {
    opacity: 0;
}

#enemy-characters {
    opacity: 0;
}

#fight {
    opacity: 0;
}

#reset {
    opacity: 0;
    padding: 20px 40px;
    margin-top: 50px;
}

#attack {
    opacity: 0;
    padding: 20px 40px;
    margin-bottom: 50px;
}
#btn-reset {
    opacity: 0;
    padding: 20px 40px;
    margin-bottom: 50px;
}

